.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

//.addressFormContainer{
//  position: fixed;
//  height: 100%;
//  width: 100%;
//  z-index: 99;
//  top: 0;
//  left: 0;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  background: #555e;
//
//  &.hidden{
//    display: none;
//  }
//}

.addressForm{
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
  align-self: flex-start;
  justify-self: flex-start;
  margin: 0 auto;
  @extend .noselect;
  button{
    border: none;
    padding: 1rem;
    flex: 1 1 auto;
    margin: 0 1rem;
    justify-self: flex-end;
    align-self: flex-end;
    cursor: pointer;
  }
  padding: 1rem;
}

.addressFormField{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;

  input{
    height: 30px;
  }
  label{
    width: 200px;
    text-align: right;
    margin-right: 2rem;
  }
}