.emptyBanner{
  padding: 2rem;
  box-sizing: border-box;
  height: calc(100vh - 125px);
  background: repeating-linear-gradient(
                  45deg,
                  rgba(170, 196, 238, 0.33),
                  rgba(170, 196, 238, 0.33) 120px,
                  #fff 120px,
                  #fff 200px
  );
  img{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  h4{
    color: #888;
    font-weight: 500;
    font-size: 1.4rem;
  }

  button{
    border: none;
    background: #4f95ff;
    color: white;
    font-weight: 500;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

}

.emptyShopBanner {
  @extend .emptyBanner;

  background: repeating-linear-gradient(
                  45deg,
                  #dddddd55,
                  #dddddd55 150px,
                  #fff 150px,
                  #fff 240px
  );
}