@import "../styles/global";
@import "../styles/mixin";

$dark-green: #555;
$light-green: #555;

.appNav{
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left: 1rem;
  position: fixed;
  background: #fff;
  color: black;
  z-index: 10;
  width: 100%;
  top:0;
  left: 0;
  box-sizing: border-box;
  @include max-width(600px){
    padding: 0;
  }

  svg{
    height: 24px;
    width: 24px;
    &:hover {
      cursor: pointer;
    }
  }


}

.appNavImg{

  height: 20px;

  &:hover{
    cursor: pointer;;
  }
}

.appNavHead{
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include max-width(600px){
    display: none;
  }

  height: 60px;

  &.hidden{
    visibility: hidden;
  }






  &.hover {
    cursor: pointer;
  }


  .appNavHeadTitle{
    vertical-align: middle;
    margin-left: 0.5rem
  }
}

.burgerMenuButton{
  display: flex;
  align-items: center;
  cursor: pointer;
  fill: white;
  margin-right: 1rem;
  span{
    line-height: 30px;
  }


  .burgerIcon{
    fill: black;
  }


  @media screen and (min-width: 400px){
    display: none;
  }

}

.appNavRow {
  font-size: 18px;
  color: #555;
  display: flex;
  flex-direction: row;
  align-items: center;

  & > button{
    border: none;
    width: 100%;
    background: none;
    margin: 0;
    height: 60px;
    border-right: 1px solid $light-green;
    min-width: 50px;
    cursor: pointer;
    justify-content: center;

    &:last-of-type{
      border: none;
      @include min-width(600px) {
        padding-right: 0.5rem;
      }
    }

    & > div{
      width: 100%;
    }
  }


  @include max-width(600px){
    & > button{
      height: 60px;
    }
    width: 100%;
    justify-content: space-around;
  }

  @extend .no-select;

  .signInUpButton{
    &.signIn{
      @include max-width(600px){
        display: none;
      }
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    cursor: pointer;
    margin-right: 0;

    h4{
      font-size: 14px;
      font-weight: 400;
      white-space: nowrap;
      width: min-content;
      color: $light-green;
      margin: 0;
    }
  }

  .cmsButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    cursor: pointer;
    h4{
      font-size: 14px;
      font-weight: 400;
      color: $dark-green;
      margin-right: 0.5rem;
    }
  }

  .myAccountButton{

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    cursor: pointer;
    border-left: 1px solid $light-green;
    padding-left: 0.5rem;

    h4{
      font-size: 14px;
      font-weight: 400;
      color: $light-green;
      margin-right: 0.5rem;
    }
  }

  .sellButton{
    display: flex;
    flex-direction: row;
    align-items: center;


    h4{
      font-size: 14px;
      font-weight: 400;
      color: $light-green;
      margin: 0 0.5rem;
    }
  }

  .buyButton{
    @extend .sellButton;

    img{
      height: 20px;
      width: 20px;
    }
  }


  & > *{
    margin: 0 0.5rem;


  }

  svg{
    height: 20px;
    width: 20px;
    fill: $dark-green;
  }

  img{
    height: 40px;
    width: 40px;
  }

  a:visited, a:hover, a:focus, a:active, a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  .appNavTitle{
    margin: 0 2rem;
  }
}

.appNavTitle {
  float: left;
  margin: 0 2rem;
}




.burgerNav{

  &.hidden{
    display: none;
  }

  a:visited, a:hover, a:focus, a:active, a {
    text-decoration: none;
    color:black;
    cursor: pointer;
  }


  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: fixed;
  width: 100%;
  top: 60px;
  left: 0;
  height: 100%;
  z-index: 10;
  background: #fff;

  .burgerNavTitle{
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  a{
    text-decoration: none;
  }
}




.appNavButton {
  float: right;
  background: #000;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 4rem;

  a{
    color: #fff;
    text-decoration: none;
  }
}


