
$dark-green: #266150;
$light-green: #65807C;

.appNav{
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 1rem;
  position: absolute;
  background: #fff;
  color: black;
  z-index: 10;
  width: 100%;
  top:0;
  left: 0;
  box-sizing: border-box;


  svg{
    height: 24px;
    width: 24px;
    &:hover {
      cursor: pointer;
    }
  }


}

.appNavImg{

  height: 20px;
  margin-left: 1rem;
}

.appNavHead{
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 60px;

  &.hidden{
    visibility: hidden;
  }


  & > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }



  &.hover {
    cursor: pointer;
  }


  .appNavHeadTitle{
    vertical-align: middle;
    margin-left: 0.5rem
  }
}

.burgerMenuButton{
  display: flex;
  align-items: center;
  cursor: pointer;
  fill: white;
  span{
    line-height: 30px;
  }

}

.appNavRow {
  height: 22px;
  font-size: 18px;
  color: #555;

  svg{
    height: 24px;
    width: 24px;
    margin: 0 1rem;

    fill: $dark-green;
  }

  img{
    height: 40px;
    width: 40px;
  }

  a:visited, a:hover, a:focus, a:active, a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  .appNavTitle{
    margin: 0 2rem;
  }
}

.appNavTitle {
  float: left;
  margin: 0 2rem;
}




.burgerNav{

  &.hidden{
    display: none;
  }

  a:visited, a:hover, a:focus, a:active, a {
    text-decoration: none;
    color:black;
    cursor: pointer;
  }


  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: fixed;
  width: 100%;
  top: 60px;
  left: 0;
  height: 100%;
  z-index: 10;
  background: #fff;

  .burgerNavTitle{
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  a{
    text-decoration: none;
  }
}

.burgerIcon{
  fill: black;
}




.appNavButton {
  float: right;
  background: #000;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 4rem;

  a{
    color: #fff;
    text-decoration: none;
  }
}


