$dark-green: #266150;
$light-green: #65807C;

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hidden{
  opacity: 0;
}


.app {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
  height: 100%;
}


.mainLogo {
  height: 80px;
}



.container a {
  text-decoration: none;
  background: #2a2a2a;
  padding: 0.5rem 2rem;
  border-radius: 16px;
  color: white;

}

.buySellSplit{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  & > div {
    flex: 0 0 auto;
    padding: 2rem;

  }
  .buySection{
    h4 {
      font-size: 0.8rem;
      background: #fff;
    }
  }

  .sellSection{
    background: $dark-green;
    color: #fff;
    h4 {
      font-size: 0.8rem;

    }
  }
}


.sectionBanner{
  background: none;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;

}
.sectionBannerContainerTitle{
  font-size:2rem;
}

#root{
  overflow: hidden;
}

.sectionBannerContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1000px;
  margin: 4rem auto;


  &.first{
    background: #eee;
  }

  &.second{
    background: white;
  }
}

.sectionBannerImageContainer{
  background: black;
  height: 250px;
  width: 250px;
  color: white;
}

.sectionBannerTextContainer{
  color: #888;
  height: 150px;
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 1rem;
}

.coolPic1{

  clip-path: polygon(45% 0, 55% 0, 30% 100%, 20% 100%);

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.coolPic2{

  clip-path: polygon(30% 0, 40% 0, 15% 100%, 5% 100%);

  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.appHeader {
  background-color: white;
  height: 50vh;
  color: #555;
  margin: 0 0 4rem 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  @media screen and (max-width: 800px) {
    max-height: 200px;
  }
}

.categoryNavBar{
  background: $dark-green;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  button{
    background: $light-green;
    width: 120px;
    border: none;
    color: #ccc;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.homePageSection{
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  background: red;
  position: relative;


  & > .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0008;
    z-index: 2;
    color: white;

    h4{
      font-size: 2rem;
    }

    h5{
      font-size: 1.4rem;
      max-width: 600px;
      font-weight: 300;
      margin: 0;
    }

    button{
      background: white;
      color: black;
      padding: 1rem 2rem;
      width: 150px;
      border: none;
    }
  }

  & > img{
    display: block;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;

  }




  &.first {


  }


  &.second {
    background: linear-gradient(0deg, rgba(188, 255, 205, 0.58), rgba(188, 255, 205, 0.58)),url("../public/landfill.png");
    clip-path: polygon(0 0, 61% 50px, 100% 0, 100% 100%, 24% 90%, 0 100%);
    padding: 5rem 0;
  }

  &.third {
    background: linear-gradient(0deg, rgba(255, 244, 206, 0.64), rgba(255, 244, 206, 0.64)),url("../public/background.jpg");
    clip-path: polygon(0 0, 61% 50px, 100% 0, 100% 100%, 24% 90%, 0 100%);
    padding: 5rem 0;

  }


}

.navPadding{
  padding-top: 60px;
}

.categoryBannerList{
  display: flex;
  flex-direction:row;

  height: min-content;
  box-sizing: border-box;

  @media screen and (max-width: 600px){
    flex-direction: column;
  }
}

.categoryBannerSection{
  display: flex;
  min-width: 220px;
  flex-direction: column;
  flex: 1 1 auto;
  flex-basis: 50%;

  height: 600px;
  margin: 1rem;
  box-sizing: border-box;


}
.categoryBanner{
  display: block;
  flex: 1 1 auto;
  margin: 1rem 0;
  background: grey;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 600px){
    height: 300px;
  }

  &>img{
    display: block;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    height: 100%;
  }

  .categoryBannerContent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 3;


    h4{
      margin: 1rem;
      color: #b29b8a;
      font-weight: 100;
      font-size: 2rem;
      font-family: 'Helvetica', 'Arial', sans-serif;
    }


  }

}

.mainAppBanner{
  display: block;
  flex: 1 1 auto;
  background: grey;
  overflow: hidden;
  position: relative;
  height: 350px;


  &>img{
    display: block;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    height: 100%;
  }

  .mainAppBannerContent{
    position: absolute;
    top: 0;
    padding: 2rem;
    left: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 3;
    box-sizing: border-box;


    div{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      span{
        background:white;
        padding: 0.1rem;
        margin: 0.2rem;
      }
      h4{
        margin: 1rem;
        color: #b29b8a;
        font-weight: 100;
        font-size: 1.8rem;
        font-family: 'Helvetica', 'Arial', sans-serif;

      }
    }




  }
}

.sellingStepList{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem auto;
  padding: 1rem;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 8px;
  max-width: 800px;


  .sellingPointCard{
    display: flex;
    flex-direction: row;
    align-items: center;

    min-width: 300px;

    .sellingPointNumber{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background: black;
        font-size: 1.6rem;
        margin: 1rem;
        flex-shrink: 0;


    }

    img{
      height: 80px;
    }

    .sellingPointCardTitle{
      font-size: 1.4rem;
      font-weight: 300;
      text-align: left;
    }

    .sellingPointCardPara{
      font-size: 1.2rem;
      font-weight: 200;
    }
  }

}

.sellingPointList{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem;
  flex-wrap: wrap;

  .sellingPointCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 2rem;

    img{
     height: 80px;
      object-fit: cover;
      margin: 2rem;
    }

    .sellingPointCardTitle{
      font-size: 1.4rem;
      height: 50px;
      margin: 0;
    }

    .sellingPointCardPara{
      font-size: 1.4rem;
      font-weight: 300;
      margin: 0;
    }
  }


}


.sectionContainer{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1rem 0;
  padding: 2rem 0;
}

.mainAppHeaderTextContainer, .appHeaderTextContainer{

  text-align: center;
  position: relative;
  right: 0;
  width: 100%;
  height: 100%;



  vertical-align: middle;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  //clip-path: polygon(60% 0, 100% 0%, 100% 100%, 35% 100%);
}

.appHeaderLogo{
  width: 100px;
  height: 100px;
}

.appHeaderPara {
  color: #333;
  font-weight: 300;
  font-size: 1.4rem;
  margin: 0;
  max-width: 500px;
  @media only screen and (max-width: 600px) {
    max-width: 80%;
  }
}
.appHeaderTextContainer .appHeaderPara {
  text-align: left;
  h4{
    margin: 1rem 0;
  }

  h4:before{
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
  }
}

.appHeaderText{
  color: #333;
  border-bottom: 10px solid $dark-green;
  //float: right;
  max-width: 500px;
  @media only screen and (max-width: 600px){
    max-width: 80%;
  }


}

.mainHeaderContainer{
  display: flex;
  flex-direction: column;

}



.introBox{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2rem 0;
  max-width: 500px;
  @media only screen and (max-width: 600px){
    max-width: 80%;
  }
  align-items: stretch;
  margin: 3rem auto;

  .doubleBars{
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    border-left: 4px solid #28303d;
    font-weight: 400;
    // border-left: 4px solid #28303d;
    font-size: 2rem;
    color: #333;
    text-align: left;

    &:before {
      content:"";
      display:block;
      position:absolute;
      left: 3px;
      bottom: 0;
      width:2px;
      height:100%;
      background: #28303d;
    }
  }
}

.introBox h4{
  font-weight: 400;
  position: relative;
 // border-left: 4px solid #28303d;
  font-size: 2rem;
  color: #333;
  padding: 0 1rem;
  text-align: left;

  @media only screen and (max-width: 600px){
    font-size: 1.5rem;
  }
}



.actionButton{
  border: none;
  background: $dark-green;
  color: #fff;
  padding: 1rem;
  width: 150px;
  &:hover{
    background: lighten($dark-green, 10%);
    cursor: pointer;
  }

}
