@import '../../styles/mixin.scss';
@import "../../styles/theme.scss";

$mobile-max: 600px;

.showResultButtonContainer{
  height: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  button{

    border: none;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    font-size: 1rem;
    width: 250px;
    background: black;
    color: white;
  }

  @include min-width($mobile-max){
    display: none;
  }
}

.openFilterMenuButton{
  @include min-width($mobile-max){
    display: none;
  }
  width: 40px;
  background: $light-green;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  cursor:pointer;
}

.paginationBar{
  position: fixed;
  width: 100%;
  border-top: 1px solid black;
  z-index: 2;
  background: white;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //padding: 0.4rem;
  box-sizing: border-box;

  h6{
    margin: 0;
    font-size: 0.8rem;
    font-weight: 200;
  }

  .paginationAndSortContainer{
    @include max-width($mobile-max){
      display: none;
    }
    display: flex;
    flex-direction: row;
  }

  .statContainer{
    @include max-width($mobile-max){
      display: none;
    }
  }

  .paginationBarLeft{
    @include min-width($mobile-max){
      width: 240px;
    }
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;


  }

  .paginationBarMiddle{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
  }

  .paginationBarRight{
    display: flex;
    flex-direction: row;

  }
}

.catalogPage{
  display: flex;
  position: relative;
  flex-direction: row;
  height: calc(100vh - 120px);
  max-width: 100%;
  top: 60px;
  box-sizing: border-box;
}



.catalogSection{
  height: 100%;
}

.container {
  height: 100%;
  max-width: 2000px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  overflow-y: auto;
}
.itemContainer {
  box-sizing: border-box;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@include max-width(992px) {
  .itemContainer {
    flex-basis: 25%;

  }

  .placeHolder2{
    display: none;
  }

}

@include max-width(640px) {
  .itemContainer {
    flex-basis: 50%;
  }
  .placeHolder1, .placeHolder2{
    display: none;
  }
}




.item{

  height: min-content;
  width: 180px;
  max-width: 100%;
  margin: 1rem 0 1rem 1rem;
 // background: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include max-width(450px){
    width:180px;
    margin: 0;
  }

  @include max-width(400px){
    width:150px;
  }

  @include max-width(350px){
    width:120px;
  }

  @include max-width(300px){
    width:90px;
  }


  img{

    @include max-width(450px){
      height: 240px;
      width:180px;
    }
    @include max-width(400px){
      height: 200px;
      width:150px;
    }
    @include max-width(350px){
      height: 160px;
      width:120px;
    }
    @include max-width(300px){
      height: 120px;
      width:90px;
    }

    background: black;
    height: 240px;
    width:180px;
  }
  .item > div{

    width: 100%;
    text-align: center;
  }
  .itemBrand{
    text-align: left;
    height: min-content;
    margin: 0.2rem 0;
    font-size: 1rem;
  }
  .itemName{
    text-align: left;
    height: 40px;
    font-weight: 300;
    margin: 0 0;
    font-size: 0.9rem;
  }

  .itemPrice{
    height: 40px;
    margin-top: 0.2rem;
    font-size: 1rem;
  }
}


