$dark-green: #266150;
$light-green: #65807C;

.profileIconWrapper{
  display: flex;
  align-content: center;
  background: #eee;
  border-radius: 50%;

  .profileIcon{
    height: 22px;
    width: 22px;
    border: 1px solid $light-green;
    border-radius: 50%;
  }

  &:hover{
    cursor: pointer;
  }
}

