.measurementMenu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .measurementMenuTitle{
    h4{
      font-size: 1rem;
    }
  }

}


.sizeList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .sizeItem{
    margin: 2px;
    background: none;
    border: 1px solid #aaa;
    color: #777;
    &.selected{
      background: #222;
      color: #ccc;
    }
  }
}

.dropMenuSizeList{
  display: flex;
  flex-direction: column;
  width: 100px;


  .sizeItem{
    cursor: pointer;
    margin: 2px;
    background: none;
    color: #777;
    height: 30px;
    width: 100%;
    border: none;
    height: 60px;

    &.selected{
      background: #222;
      color: #ccc;
      margin: 0;
    }
  }
}