.navPadding{
  padding-top: 20px;
}

.saveButtonContainer{
  width: 100%;
  height: 40px;
  background: white;
  position: fixed;
  padding-top: 60px;
  z-index: 6;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.saveButton{
  border: none;
  position: relative;
  background: #3b5998;
  color: white;
  padding:0 1rem;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  &:hover{
    background: lighten(#3b5998, 20%);
  }
  border-radius: 4px;

}

.backButton{
  @extend .saveButton;
  margin-left: 2rem;
  background: #777;
  &:hover{
    background: lighten(#777, 20%);
  }
  color: #ccc;
}

.productDetailPage{
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  .productDetail {
    display: flex;
    flex-direction: row;
    min-height: max-content;

    & > div{
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 50%;
    }
  }

  .productInfo{
    display: flex;
    max-width: 450px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .title, .price, .description{
      margin: 0;
    }
  }

  .productSizesInfo{

    .productSizesList{
      font-weight: 300;
      display: flex;
      flex-direction: column;
      & > div {
        margin: 0.2rem 0;
        display: flex;
        flex-direction: row;
        h5, h6 {
          margin: 0.2rem 0;
          font-weight: 300;

        }
      }
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }

  .productTagsInfo{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .productTagsList {
      display: flex;
      flex-direction: row;
      div{
        cursor: pointer;
        h5, h6 {
          font-weight: 300;
        }
        margin-right: 1rem;
        height: 30px;
        border-radius: 15px;
        background: #eee;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        min-width: max-content;
        padding: 0 1rem;
        color: #888;
      }
    }

  }

  .callToActionSection{
    display: flex;
    flex-direction: column;
  }

  .addToCartButton{
    background: black;
    color: white;
    padding: 1rem 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    width: 200px;
    border: 1px solid black;

    &:hover{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
  }

  .addToWishListButton{
    background: white;
    color: black;
    border: 1px solid black;
    padding: 1rem 1rem;
    margin: 1rem 0;
    cursor: pointer;
    width: 200px;
    &:hover{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
  }
}

.productInfoContainer{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  min-height: 100%;
  margin: 0 1rem;
  flex-grow: 1;
}

.suggestionSection{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .suggestionSectionTitle{
    margin: 1rem;
    font-weight: 300;
  }
  .suggestionSectionContent{
    border-top: 2px solid #ccc;
    width: 100%;
  }
}

.bottomSection{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1rem;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  height: min-content;
  //& > div{
  //  flex-grow: 0;
  //  flex-shrink: 0;
  //  flex-basis: 50%;
  //
  //}

  .leftDescriptionFieldContainer{
    padding-left: 1rem;
    margin: 0 1rem 0 0;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-right: 1px solid #aaa;
  }

  .rightDescriptionFieldContainer{
    padding-left: 0.5rem;
  }
}

.descriptionField{
  h4{
    font-size: 1rem;
    font-weight: 300;
    margin: 0.5rem 0;
    width: 150px;
    text-align: left;
  }
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


.inventoryFieldItem{
  margin: 0.5rem 0;
  width: 100%;
  h4{
    font-size: 1rem;
    font-weight: 300;
    margin: 0.5rem 0;
    width: 150px;
    text-align: left;

  }
  input{
    width: 300px;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0 0.5rem;
  }
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.tagMenu{
  width: 400px;
}



.sizeMenuCombo{
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .measurementMenu{
    width: 300px;
    margin-right: 1rem;
  }
  .sizeMenu{
    width: 150px;
  }

  .removeButton{
    height: 30px;
  }
}