

$dark-green: #266150;
$light-green: #65807C;
$vivid-green: #3c3a41;

.no-select, .no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.actionButton{
  border: none;
  background: $dark-green;
  color: #fff;
  padding: 1rem;
  width: 150px;
  &:hover{
    background: lighten($dark-green, 10%);
    cursor: pointer;
  }
}
